#login-screen {
    position: absolute;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    text-align: center;
}

#login-content form {
    display: flex;
    flex-direction: column;
}

#login-content form input {
    margin: auto;
    width: 250px;
    height: 30px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 18px;
}

#login-content form input::placeholder {
    color: black;
}


#login-content form input.required {
    width: 250px;
    height: 30px;
    border: 1px solid var(--errorColor);
}

.login-button {
    margin-top: 10px;
    height: 27px;
    background-color: var(--headerColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

.login-button:hover {
    background-color: var(--activeGreen);
    cursor: pointer;
}

.succes-message {
    color: var(--headerColor);
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    text-align: center;
}

.login-error-message {
    color: var(--errorColor);
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    text-align: left;
}

.login-panel-error-message {
    font-size: 20px;
    margin-top: 10px;
}

.admin-panel {
    width: 800px;
    margin: auto;
    text-align: center;
}

.admin-show-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    margin: 0 auto 100px auto;
}

.admin-show-section button {
    width: 180px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: var(--backgroundColor);
    background-color: var(--headerColor);
    font-family: var(--headersFont);
    font-size: 20px;
    font-weight: 400;
}

.admin-show-section button:hover, .admin-show-section button.active {
    background-color: var(--hoverGreedColor);
    color: var(--backgroundColor);
    cursor: pointer;
}

.logout-button {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 80px;
    width: 100px;
}

.admin-navbar-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.admin-navbar-form input, .admin-event-form-uploader form input[type=text], .admin-event-form input[type=text] {
    width: 403px;
    height: 47px;
    border-radius: 4px;
    border: none;
    margin-bottom: 13px;
    padding: 0;
    padding-left: 17px;
    outline: none;
    font-size: 15px;
    font-family: var(--bodyTextFont);
    background-color: #EDE9E9;
}

.admin-navbar-form input::placeholder,
.admin-navbar-form input::-webkit-input-placeholder,
.admin-event-form-uploader form input[type=text]::placeholder,
.admin-event-form-uploader form input[type=text]::-webkit-input-placeholder,
.admin-event-form input[type=text]::placeholder,
.admin-event-form input[type=text]::-webkit-input-placeholder {
    color: black;
    font-style: italic;
    opacity: .5;
}

.admin-navbar-form-router-id p {
    margin-bottom: 0;
}

.admin-navbar-form-router-id button {
    width: 120px;
    height: 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

.admin-navbar-order h3 {
    margin-bottom: 5px;
}

.admin-navbar-order p {
    margin-top: 0;
}

.admin-navbar-form-cta, .admin-event-form-cta {
    width: 233px;
    height: 51px;
    border-radius: 4px;
    border: none;
    background-color: var(--headerColor);
    color: var(--whiteColor);
    font-family: var(--headersFont);
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.admin-navbar-form-cta:hover, .admin-navbar-order-cta:hover, .admin-event-form-cta:hover {
    background-color: var(--activeGreen);
    cursor: pointer;
}

.admin-navbar-order-ctas {
    display: flex;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.admin-navbar-order-cta {
    width: 60px;
    height: 25px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: var(--headerColor);
    color: var(--whiteColor);
    border: none;
}

.admin-event-form {
    margin-top: 50px;
    text-align: left;
}

.admin-event-form form {
    display: flex;
    flex-direction: column;
}

.admin-event-form form label {
    margin-bottom: 5px;
}

.admin-event-form form select {
    width: 100px;
    height: 25px;
    font-size: 16px;
}

.admin-event-form-uploader {
    width: 300px;
    margin: 20px 0 20px 0;
}

.admin-event-form-uploader form {
    display: flex;
    flex-direction: column;
}

.admin-event-form-uploader form input {
    margin-top: 10px;
}

.uploader {
    font-size: 16px;
}

.uploader::file-selector-button {
    width: 80px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: var(--headerColor);
    color: var(--whiteColor);
    font-size: 16px;
}

.uploader::file-selector-button:hover {
    background-color: var(--activeGreen);
    cursor: pointer;
}

.admin-event-form h3 {
    margin-bottom: 5px;
}

.date-picker {
    width: 320px;
}

.admin-event-form input[type=file] {
    margin-bottom: 10px;
}