.calendar_header_div {
  margin: auto;
  width: 950px;
  margin-top: 40px;
}

.calendar_header_titel {
  font-size: 30px;
  font-weight: 500;
  font-family: var( --headersFont);
}

.calendar_header_text {
  font-size: 15px;
  font-weight: 400;
  font-family: var( --headersFont);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 950px;
}

.controls_div {
  margin-right: 0px;
}

.controls input {
  flex: 1;
  padding: 26px;
  border-radius: 3px;
  border: none;
  background-color: var(--headerColor);
  color: #fff;
  width: 280px;
  height: 33px;
  font-size: 15px;
  font-family: var( --headersFont);
}

::placeholder {
  color: #fff;
}

.showTours_btn, .showEvents_btn {
  border-radius: 3px;
  border: none;
  background-color: var(--activeGreen);
  color: #fff;
  cursor: pointer;
  width: 126px;
  height: 53px;
  font-size: 15px;
  font-family: var( --headersFont);
}

.controls button:hover {
  background-color: var(--headerColor);
  transition: 0.5s;
}

.container_calendar {
  display: flex;
  height: 100%;
  margin: auto;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  object-fit: cover;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--headerColor); 
  color: white; 
  opacity: 0;
  transition: opacity 0.3s ease; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay_text {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  font-family: var( --headersFont);
  opacity: 1;
}

.image-container:hover .overlay {
  opacity: 0.6; 
}

.info_container {
  width: 300px;
  height: 160px;
}

.info_container h3 {
  font-family: var(--headersFont);
  font-weight: 500;
  font-size: 20px;
  margin:10px 0 ;
}

.date p {
  font-size: 15px;
  font-family:var(--headersFont) ;
  font-weight: 300;
  color: black;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.text p {
  font-size: 15px;
  font-weight: 400;
  font-family: open sans;
  color: black;
}

.clicked {
  background-color: var(--headerColor);
}

.calendarViewContainer {
  margin: 30px 0 100px 0;
}
