main {
  padding: 100px 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 950px;
  padding-right: 20px;
}

.controls_div {
  margin-right: 0px;
}

.controls input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #125F31;
  color: #fff;
  width: 280px;
  height: 30px;
}

::placeholder {
  color: #fff;
}

.controls button {
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #7FA761;
  color: #fff;
   cursor: pointer;
   width: 100px;
   height: 50px;
}

.controls button:hover {
  background-color: #125F31;
  transition: 0.5s;
}

.container_calendar {
  display: flex;
  height: 100%;
  width: 950px;
  margin: auto;
}

.column_calendar {
  flex: 1;
  padding: 20px;
}

.image-container {
  position: relative;
  width: 300px; 
  height: 500px; 
  overflow: hidden; 
}

.image-container img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  opacity: 0; 
  background-color: #125F31; 
  transition: opacity 0.3s; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .image-overlay {
  opacity: 0.5; 
}

.column_calendar .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.info_container {
  width: 300px;
  height: 160px;
}

.info_container h3 {
  font-family: var(--headersFont);
  font-weight: 500;
  font-size: 20px;
  margin:10px 0 ;
}

.date p {
  font-size: 15px;
  font-family:var(--headersFont) ;
  font-weight: 300;
  color: black;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.text p {
  font-size: 15px;
  font-weight: 400;
  font-family: open sans;
  color: black;
}
