#event-banner {
    position: relative;
    width: auto;
}

#event-banner-image {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 254px;
}

.event-headings {
    margin-left: auto;
    margin-right: auto;
    width: 910px;
    padding-bottom: 15px;
}

.event-headings h1 {
    font-family: var(--headersFont);
    font-weight: 500;
    font-size: 30px;
}

.event-headings p {
    font-weight: 400;
    font-size: 15;
}