footer {
    background-color: #492A14;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 23%;
    display: flex;
    flex-direction: column;
}

.column h3 {
    font-family: var(--headersFont);
    font-size: 30px;
    margin-bottom: 10px;
}

.column p, a {
    font-family: var(--headersFont);
    color: #EDE9E9;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 5px;
}

.column img {
    height: 300px;
    width: 300px;
}

.column2, .column3, .column4 {
    margin-top: 30px;
}

.social_media_div {
    margin-top: 30px;
}

.social_media_div img {
    padding-right: 10px;
    height: 51px;
    width: 51px;
}

.info_div {
    margin-top: 30px;
}

.bambus_footer_img {
    width: 1900px;
}