@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
@import url("./headerStyle.css");

/* Variables */
:root {
    --headerColor: #125F31;
    --whiteColor: #ffffff;
    --activeGreen: #7FA761;
}

/* Styling Global */
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}