@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
@import url('https://fonts.cdnfonts.com/css/stag');
@import url("./headerStyle.css");
@import url("./homeStyle.css");
@import url("./eventStyle.css");

/* Variables */
:root {
    --headerColor: #125F31;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --activeGreen: #7FA761;
    --yellowColor: #FFE174;
    --backgroundColor: #FFF9EB;
    --headersFont: "Stag", "Open Sans", sans-serif;
}

/* Styling Global */
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--backgroundColor);
}