/* Styling header */

#header-container {
    background-color: var(--headerColor);
    display: flex;
    height: 115px;
}

#header-logo {
    flex-grow: 2;
    align-content: center;
    margin-left: 34px;
}

#header-logo img {
    width: 307px;
    height: 75px;
}

#header-navbar {
    background-color: var(--headerColor);
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}


#header-navbar ul li {
    flex-grow: 1;
    list-style-type: none;
}

#header-navbar ul li a {
    color: var(--whiteColor);
    text-decoration: none;
    font-family: var(--headersFont);
    font-weight: 500;
    text-transform: uppercase;
}

#header-navbar ul li .router-link-exact-active {
    color: var(--activeGreen);
}

#header-navbar ul li .disabled {
    color: var(--whiteColor) !important;
}

#header-navbar ul li .dropdown-arrow::after {
    content: "";
    margin-left: 10px;
    margin-bottom: 2px;
    background-image: url("@/assets/icons/drop-down-arrow.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 8px;
}

#header-search {
    flex-grow: 1;
    align-content: center;
}

#header-search label {
    color: var(--whiteColor);
    font-size: 20px;
    font-family: var(--headersFont);
    font-weight: 500;
    cursor: pointer;
}

#header-search label .search-icon::before {
    content: "";
    margin-right: 10px;
    background-image: url("@/assets/icons/search.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 27px;
    height: 27px;
}

#header-search input {
    visibility: hidden;
    border: none;
    border-radius: 4px;
    height: 24px;
    width: 0px;
    outline: none;
    font-family: var(--bodyTextFont);
    font-size: 16px;
    margin-right: 10px;
    float: left;
    transition: all .5s;
}

#header-search input.active {
    visibility: visible;
    width: 160px;
}
