#hero-banner {
    position: relative;
    width: auto;
}

#hero-banner-image {
    margin-left: auto;
    margin-right: auto;
    width: 1465px;
    height: 569px;
}

#hero-banner-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 1465px;
    text-align: center;
}

#hero-banner-title h1 {
    display: inline;
    font-size: 50px;
    line-height: 0%;
    color: var(--whiteColor);
    text-transform: uppercase;
    font-family: var(--headersFont);
    font-weight: 600;
}

#info-banner {
    position: relative;
    width: 1086px;
    height: 124px;
    top: -62px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--yellowColor);
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.info-banner-tile {
    min-width: 285px;
    height: 64px;
}

.info-banner-tile img {
    float: left;
}

.info-banner-tile-text {
    float: left;
    margin-left: 25px;
    height: auto;
    width: 205px;
    font-family: var(--headersFont);
    font-weight: 400;
    color: var(--blackColor);
}

.info-banner-tile-text h2 {
    display: inline;
    font-weight: 400;
    font-size: 32px;
}

.info-banner-tile-text p {
    margin-top: -3px;
    font-size: 15px;
}

#home-event-tiles-section {
    width: 1086px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-event-tile {
    height: 264px;
    display: flex;
    margin-bottom: 40px;
}

.home-event-tile-text {
    position: relative;
    width: 227px;
    height: 264px;
    border-radius: 22px 22px 0 22px;
    font-weight: 400;
    text-align: left;
    float: left;
}

.home-event-tile-text-div {
    padding: 10px 20px 10px 20px
}

.home-event-tile-text h3 {
    font-family: var(--headersFont);
    line-height: 16px;
    font-size: 16px;
}

.home-event-tile-text p {
    line-height: 21.79px;
    font-size: 16px;
}

.home-event-tile-text-link {
    position: absolute;
    height: 27px;
    width: 95px;
    text-align: center;
    align-content: center;
    bottom: 12px;
    left: 20px;
}

.home-event-tile-text-link a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.home-event-tile-img div {
    height: 264px;
    float: left;
    border-radius: 22px 22px 22px 0;
}

.home-event-tile-img img {
    max-width: 261px;
    height: 264px;
    border-radius: 22px 22px 22px 0;
}